{% extends "hoos/base.html" %}

{% block content %}
    <h1>HOO's in the Office</h1>

    <form>
        {{ search_form }}
        <input type="submit">
    </form>

    {% include "hoos/new_hours_form.html" %}

    <h2>Storing {{ entry_count }} entries</h2>

    <table>
        <tr>
            <th>Professor</th>
            <th>Class</th>
            <th>Hours</th>
            <th>In Office</th>
        </tr>

        {% for entry in entries %}
            <tr>
                <td>{{ entry.professor }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.hours }}</td>
                <td>{{ entry.is_in_office }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
