{% extends "hoos/base.html" %}

{% block content %}
    <h1>HOO's in the Office</h1>

    <form method="POST" action="search">
        {% csrf_token %}
        {{ search_form.query }}
    </form>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Professor</th>
            <th>Class</th>
            <th>Hours</th>
            <th>In Office</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.professor }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.hours }}</td>
                <td>{{ entry.is_in_office }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/new_hours_form">Submit New Office Hours</a>
{% endblock %}
