{% block hours_table %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Professor</th>
            <th>Class</th>
            <th>Office</th>
            <th>Hours</th>
            <th>In Office</th>
            <th>Add to Calendar</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.professor }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.office }}</td>
                <td>{{ entry.show_hours }}</td>
                <td>
                    {% if entry.is_in_office %}
                        <b>Yes</b>
                    {% else %}
                        No
                    {% endif%}
                </td>
                <td><a href={{ entry.calendar_url }} target="_blank">Add to Calendar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
